r# Ignore files and directories
evaluation_experiments/EXP4_cibersort_eval.ipynb
evaluation_experiments/EXP4_bayesprism_eval.ipynb
functions/MCT_residual.R
preprocessing/EXP4_bayesprism_prep.ipynb
preprocessing/EXP4_cibersortprep.ipynb
results/EXP1/EXP1_eval_snadp_5CTnonoise.html
results/EXP1/EXP1_eval_snadp_5CTnonoise.ipynb
results/EXP2/EXP2_NNLS_eval_pbmc_nonoise.ipynb
results/EXP2/EXP2_NNLS_pbmc_predicted.txt
results/EXP2/EXP2_NNLS_pbmc_real.txt
results/EXP2/EXP2_bayesprism_eval_pbmc_nonoise.ipynb
results/EXP2/EXP2_bayesprism_pbmc_predicted.txt
results/EXP2/EXP2_bayesprism_pbmc_real.txt
results/EXP2/EXP2_cibersort_eval_pbmc_nonoise.ipynb
results/EXP2/EXP2_cibersortx_pbmc_predicted.txt
results/EXP2/EXP2_cibersortx_pbmc_real.txt
results/EXP2/selected_cells/EXP2_NNLS_pbmc_predicted.txt
results/EXP2/selected_cells/EXP2_NNLS_pbmc_real.txt
results/EXP2/selected_cells/EXP2_bayesprism_eval.ipynb
results/EXP2/selected_cells/EXP2_bayesprism_pbmc_predicted.txt
results/EXP2/selected_cells/EXP2_bayesprism_pbmc_real.txt
results/EXP2/selected_cells/EXP2_cibersortx_pbmc_predicted.txt
results/EXP2/selected_cells/EXP2_cibersortx_pbmc_real.txt
esults/EXP2/EXP2_NNLS_pbmc_predicted.txt
results/EXP2/EXP2_NNLS_pbmc_real.txt
results/EXP2/EXP2_bayesprism_eval_pbmc_nonoise.ipynb
results/EXP2/EXP2_bayesprism_pbmc_predicted.txt
results/EXP2/EXP2_bayesprism_pbmc_real.txt
results/EXP2/EXP2_cibersort_eval_pbmc_nonoise.ipynb
results/EXP2/EXP2_cibersortx_pbmc_predicted.txt
results/EXP2/EXP2_cibersortx_pbmc_real.txt
results/EXP2/selected_cells/EXP2_NNLS_pbmc_predicted.txt
results/EXP2/selected_cells/EXP2_NNLS_pbmc_real.txt
results/EXP2/selected_cells/EXP2_bayesprism_eval.ipynb
results/EXP2/selected_cells/EXP2_bayesprism_pbmc_predicted.txt
results/EXP2/selected_cells/EXP2_bayesprism_pbmc_real.txt
results/EXP2/selected_cells/EXP2_cibersortx_pbmc_predicted.txt
results/EXP2/selected_cells/EXP2_cibersortx_pbmc_real.txt
results/EXP1/EXP1_eval_snadp_5CTnonoise.html
results/EXP1/EXP1_eval_snadp_5CTnonoise.ipynb
results/EXP2/EXP2_NNLS_eval_pbmc_nonoise.ipynb
